/* =================================================== */
/*          DIA IT SUPPORT- People Announcements       */
/* =================================================== */
/*                                                     */
/*   © 2018 Piotr Biller                               */
/*                                                     */
/*   piotr.biller@contractors.roche.com                */
/*   piotr.biller@billennium.pl                        */
/*                                                     */
/* =================================================== */

<style>
.mainContentPanel {
    width: 97%;
}

.container {
    padding: 0 20px 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30x 0px;
}

.field:last-child {
    display: none;
}
</style>
